@model ExamenIntraAmrSeoudy.Models.Information

@{
    ViewBag.Title = "VilleInfo";
}

<h2>VilleInfo</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Information</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(model => model.ville, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ville", new SelectList(ViewBag.LISTVILLE), "Select Ville", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ville, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Get Ville Info" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
